<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peac.cock.peacock_project">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/title_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:label="피콕"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".projectSms.MySmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmailJoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemberInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssetActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailTabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalculatorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HandwritingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnalysisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MessageCategoryAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardRecommendedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecommendationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryBudgetRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>